/* 
    Created on : 3 déc. 2020, 17:25:31
    Author     : epilogue
*/
body{
    width: 100%;
}

.title {
    font-size: 48px;
    text-align: center;
}
#map{ /* hauteur obkigatoire */
    height:600px;
 }

.commentaireResto, .image{
    display:none;
}

#slider-range{
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:auto;
    margin-right: auto;
    
}
#nbreEtoile{
   width: 100%;
   border:0;
   color:#f6931f;
   font-weight:bold;
   text-align: center;
}